/* Hide the actual controller (checkbox) because checkboxes are uuuugly. This is why we have the
label (which can be styled) */
#example-content-controller {
	display: none;
}

/*
:not(:checked) is pretty self explanatory.
to learn more about the ~ selector, go here: http://www.w3schools.com/cssref/css_selectors.asp
We need to use ~ instead of + as I put that damn div in the way. ~ is fine for all occasions though,
sometimes if I'm feeling up for it, i'll use + when I set things up that way. It makes little
difference for the size of the website we have right now.

The tricky part about this is that you've pseudo selected the checkbox controller, but AFTER the
fact, you then select the content after it. It's just weird to think about. But easy to understand.
You're telling CSS "apply the styles to all #example-content that are after an unchecked
#example-content-controller"

And in our case, unchecked means hidden, so lets hide it.
*/
#example-content-controller:not(:checked) ~ #example-content {
	display: none;
}

/*
Now this one is not necessary. You can just use #example-content without the checkbox:checked.
However, for consistency sake, we do this.
*/
#example-content-controller:checked ~ #example-content {
	display: block;
}
