body{
	font-family: 'Open Sans', arial;
	font-size: 20px;
}

#head{
	overflow: visible;
}

#nav{
	background-color: #2b2b2b;
	padding: 10px 10px;
	font-size: 20pt;
	color: white;
}

#nav ul{
	margin: 0;
	list-style: none;
	padding: 0;
}

#nav ul li{
	padding: 10px 0;
}

.open{
	display: inline-block;
}

.close{
	display: none;
}

#event-order{
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
	margin: 20px;
	float: left;
	font-family: 'Open Sans', arial;
	font-size: 20px;
	border: none;
}

#event-categories-button{
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
	margin: 20px;
	float: right;
	padding: 1px 0;
	width: 124px;
	text-align: center;
	color: black;
}

#event-categories-container{
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
	margin: 20px;
	clear: both;
}

.event-category{
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
	width: 124px;
	margin: 18px;
	float: left;
	text-align: center;
}

#event-filter-button{
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
	width: 284px;
	margin: 18px;
	float: left;
	text-align: center;
}

.event{
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
	height: 200px;
	margin: 20px;
	clear: both;
}

.event-image{
	overflow: hidden;
	height: 120px;
}

.event-image img{
	height: 100%;
}

h2{
	font-size: 18px;
	margin: 5px 0 0 5px;
	color: #0a407d;
}

.event-text p{
	font-size: 14px;
	margin: 0 0 0 5px;
	color: #555;
}